* {
    font-family: 'Merriweather', serif;
}

/*header styles*/

.header {
    width: 84%;
    height: max-content;
    margin: 0 auto;
    background-image: url("/Banner\ Image.png");
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 16px;

}